# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Commonly ised Data Science Tools
- Example of Arithmetic Calculation

Some of the popular languages that Dta Scientists uses are:
1. Python
2. Java
3. Ruby
4. R

Some of the commonly used libraries in Data Science include:

- NumPy: https://numpy.org/
- Tensorflow: https://github.com/  
- Pandas: https://pandas.pydata.org/
- Pytorch: https://github.com/

| Data Science Tools |
|----------------------------------------------------------------|
| Apache Spark |
| Apache Hadoop |
| Tableau |
| Tensorflow |

### Below are the exaples of evaluating arithmetic expresisions in python:

In [3]:
# This is simple arithmetic example to multiply and then add integers

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
SATISH SHARMA